* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
}

.mega-contenitore {
    max-width: 1450px;
    margin: auto;
}

header {
    height: 80px;
    background-color: #0d325a;
}

.white {
    background-color: white;
}

.grey {
    background-color: #f9f9f9;
}

.blu {
    background-color: #0f335a;
}

.blu-light {
    background-color: #17406b;
}

.row {
    height: 150px;
}

.cont {
    height: 540px;
}

.cont-blu {
    height: 420px;
    background-color: #0d325a;
}

.cont-col {
    height: 520px;
    width: 100%;
}

.cont-col::after {
    content: " ";
    display: table;
    clear: both;
}

.col3 {
    float: left;
    width: 33.33%;
    border: 1px solid black;
    height: 100%
}

.col2 {
    float: left;
    width: 50%;
    border: 1px solid black;
    height: 100%
}

section {}

footer {
    height: 300px;
    background: rgb(55, 84, 114)
}

#logo {
    width: 120px;
    height: 40px;
    margin: 20px;
    vertical-align: middle;
}